@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,100;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62, 5%;
}
  
  body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: #333;
    color: whitesmoke;
    
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  p {
    line-height: 1.7;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    line-height: 2.2;
  }
  
  h1,
  h2,
  h3 {
    font-weight: 600;
    margin-bottom: 10px;
  }
  