// ______________ colors ______________ 

$primary : #9097e1;
$dark : #333;
$secondary: #62ebca;
$white: rgb(215, 215, 215);


$danger: #d54848;
$warning: #d27306;
$green: #0f9a46;



// shadow
$shadow: rgba(0, 0, 0, 0.821) 0px 5px 15px;


// radius
$radius: 5px;